.malaysia__logo {
    min-width: 50px;
    width: 137px;
    
}

.malaysia {
    /* border: 2px red solid; */
	background: white;
	display: flex;
	text-align: center;
    
}

.malaysia__list {
    flex-direction: column;
	flex: 1;
    border: 1px rgb(2, 2, 2) solid;
    border-radius: 15px;
    

}
/* .container__list-title {

} */
.malaysia__list-card {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.malaysia__list-item {
    border: 1px black solid;
    border-radius: 15px;
    box-shadow: 4px rgba(0,0,0,8);
    width: 30%;
    background:rgb(243, 231, 160);
    margin: 10px;

}


.malaysia__image {
    max-width: 250px;
    min-width: 150px;
}
