.southKoreaLogo {
	width: 25%;
}
.southKoreaArticle {
	/* border: 1px dotted black; */
	flex-direction: column;
	flex: 1;
	padding: 2rem;
	border: 1px black solid;
    border-radius: 15px;
}
.southKoreaImage {
	width: 50%;
}